.html {
    height: 100%;
}

.body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    --white-smoke: rgb(245, 245, 245);
    --gainsboro: rgb(220, 220, 200);
    --persian-green: rgb(0, 150, 136);
}

.h1 {
    color: var(--persian-green);
    margin-bottom: 20px;
    word-spacing: 5px;
    text-align: center;
}

.h3 {
    color: white;
    font-size: 1.1rem;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white-smoke);
}

.app-wrapper {
    background-color: white;
    height: 100%;
    /* margin: 50px; */
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    /* justify-content: center; */
}

.wrapper {
    display: flex;
    border-radius: 10px;
    background-color: white;
}

.img__wrapper {
    display: flex;
    border-radius: 10px 0px 0px 10px;
    padding: 30px;
}

.img {
    width: 250px;
    padding: 10px;
}

.form {
    max-width: 250px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    min-height: 350px;
    padding: 50px 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--persian-green);
}

.form__input {
    width: 100%;
    padding: 10px 0px 5px 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-family: 'Lato';
    font-size: .9rem;
    color: white;
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover, 
.form__input:-webkit-autofill:focus, 
.form__input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px var(--persian-green) inset;
    -webkit-box-shadow: 0 0 0 30px var(--persian-green) inset;
    color: white;
}

.form__input:-webkit-autofill {
    -webkit-text-fill-color: white;
    font-weight: bold;
}

.form__input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.form__input:focus,
.form__button:focus, .task__button--add:focus, .task__button--remove:focus {
    outline: none;
}

.form__input:focus {
    border-bottom: 1px solid black;
}

.form__button {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: var(--white-smoke);
    color: var(--persian-green);
}

.form__button:hover {
    background-color: black;
    color: white;
}

.form__text {
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.form__link {
    padding-left: 10px;
    color: white;
}

.form__link:hover {
    text-decoration: none;
}

.another-wrapper {
    width: 350px;
    margin-bottom: 10px;
}

.input__wrapper {
    display: flex;
    align-items: stretch;
    align-self: stretch;
    justify-content: stretch;
    align-content: stretch;
}

.task__button--remove {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.task__input--add {
    padding: 0;
    border: 0;
    min-width: 240px;
    background: none;
    border: none;
    border: 1px solid #cecece;
    padding: 10px;
    font-family: 'Lato';
    font-size: .9rem;
    border-radius: 5px;
}

.task__button--add {
    margin-left: 10px;
    border: 1px solid var(--persian-green);
    border-radius: 5px;
}


.task__button--add, .task__button--remove {
    font-weight: bold;
    font-size: 0.9rem;
    background-color: white;
    color: var(--persian-green);
}

.task__button--add:hover, .task__button--remove:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
    color: white;
    overflow:hidden; 
    overflow-y:auto;
    min-height: 10vh;
    max-height:40vh;
    margin-bottom: 10px;
}

.task {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--persian-green);
    border: 1px solid white;
    width: 100%;
    border-radius: 5px;
}

.task--done {
    background-color: grey;
}

.task-checkbox {
    -webkit-appearance: none;
	appearance: none;
	background-color: white;
	padding: 11px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
}

.task-checkbox:checked:after {
	content: '\2714';
	font-size: 18px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: var(--persian-green);
}

.task-title {
    padding: 10px;
    width: 215px;
    align-self: center;
    font-weight: bold;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form__logout { 
    display: flex;
    justify-content: center;
}

.button__logout {
    width: 25%;
    margin: 10px 0px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--persian-green);
    border: 1px solid rgb(220,220,220);
}

.button__logout:hover { 
    background-color: black;
    color: white;
}

.buttons__wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.filter__button {
    width: 30%;
    margin: 10px 0px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--persian-green);
    border-bottom: 2px solid rgb(220,220,220);
}

.filter__button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 700px) {
    .app-wrapper {
        margin: 10px;
    }
    
    .img__wrapper {
        display: none;
    }

    .form__wrapper {
        border-radius: 10px;
    }


 }