doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title My Todo app
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext")
    link(rel="stylesheet" href="style.css")
  body.body
    main.main
      .dashboard-wrapper
        form.form--logout(action='auth/logout', method='GET')
          button.button.form__button--logout(type="submit") Log out
        h1.h1 Your todos
        .input__wrapper
          input.form.task__input--add(type="text" minlength="3" maxlength="55" placeholder="What are you planning to do?" required="")
          button.button.task__button--add(type="button") Add task
        .buttons__wrapper
          button.button.filter__button(type="button") All
          button.button.filter__button(type="button") To do
          button.button.filter__button(type="button") Done
        ul.tasks-list
    script(type="module" src="./index.js")
