doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title My Todo app
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext')
    link(rel='stylesheet', href='./style.css')
  body.body
    main.main
      h1.h1 Todo application
      .wrapper
        .img__wrapper
          img.img(src='public/graphic.svg', alt='woman standing and marking tasks as done on huge page')
        .form__wrapper
          h3.h3 SIGN IN
          form.form(action='/login', method='post')
            input#username.form__input(type='text', name='user_name', placeholder='Username', required='')
            input#password.form__input(type='password', name='user_email', placeholder='Password', required='')
            button.form__button(type='submit') Sign in
            p.form__text
              | Not registered?
              a.form__link(href='#') Create an account
      script(scr='./index.js').