doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title My Todo app
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext')
    link(rel='stylesheet', href='./style.css')
  body.body
    main.main
      h1.h1 Todo application
      .content__wrapper
        .img__wrapper
          img.img(src='./graphic.svg', alt='woman standing and marking tasks as done on huge page')
        .form__wrapper
          h3.h3 SIGN IN
          form#login__form.form(action='auth/login', method='POST')
            input#login__input--username.form__input(type='text', name='username', placeholder='Username', minlength='6', maxlength='255', required='')
            input#login__input--password.form__input(type='password', name='password', placeholder='Password', minlength='6', maxlength='255', required='')
            button#login__button.button.form__button(type='submit') Log in
            p.form__text
              | Not registered?
              a.form__link(href='/register') Create an account
      script(src='./index.js').